<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Feedback</title>
    <style>
        body {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        button {
            background-color: aquamarine;
            border: 0;
            padding: 10px 15px;
            border-radius: 10px;
            font-weight: 700;
            color: #4b4848;
        }

        h1 {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Movie Feedback Portal</h1>
    <p>Click below to give feedback on your favorite movies!</p>
    <a href="movie"><button>Customer Feedback</button></a>
</body>
</html>
