<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        body {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        button {
            background-color: aquamarine;
            border: 0;
            padding: 10px 15px;
            border-radius: 10px;
            font-weight: 700;
            color: #4b4848;
        }

        h1 {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Thank You for Your Feedback!</h1>
    <p>Your feedback has been submitted successfully.</p>
    <a href="/"><button>Go Back to Home Page</button></a>
</body>
</html>
